---
layout: default
title: Cyber and Threat Intelligence Summit 2022  (CTIS)
---

{% include homepage/jumbotron.html %}

<section>
    <div class="container">
        {% unless site.data.conf.homepage-display == 'peri' %}
        <div class="row">
            <div class="col-12">
                <h2>The conference for the people doing Cyber and Threat Intelligence.</h2>
                <p>
                Cyber and Threat Intelligence Summit 2022 (CTIS) is a 2-day summit gathering all the experts, analysts, users and contributors to cyber and threat intelligence at large. CTIS includes the original MISP summit along with all other practices around threat intelligence. A strong focus will be given on projects bridging intelligence communities together and also open source related project. The conference will be a main track of talks composed of one day for intelligence (models, processes, methodologies, defense and sharing practices…) and one day for tooling (threat intelligence platform such as MISP, interconnecting tools and processes, producing actionable intelligence… )
                </p>
                <p>A call for paper/talk will open on the 1st of July 2022 for the analysts and organisations willing to participate, share and collaborate on the Cyber and Threat Intelligene topics. </p>
            </div>
        </div>
        {% endunless %}
        <div class="row">
            {% include homepage/{{ site.data.conf.homepage-display }}_conference.html %}
        </div>
    </div>
</section>


<section>
    <div class="container">
        <h2>Organized and supported by</h2>
        <a href="https://www.circl.lu/"><img src="/assets/img/theme-images/circl-lu.png" width="200" /></a>
        <a href="https://www.misp-project.org/"><img src="/assets/img/theme-images/misp-logo.png"/></a>
        <a href="https://www.threat-intelligence.eu/"><img src="/assets/img/theme-images/ti-eu.png"/></a>
    </div>
</section>
