<section class="general-info">
    <div class="col-12">
        <h2 id="conference-hotel">Conference Venue</h2>

        <p>Cyber and Threat Intelligence Summit 2022 (CTIS) {{site.data.conf.year}} will be held at {{site.data.conf.venue.name}} in {{site.data.conf.location}}.</p>

        {% if site.data.conf.venue.image %}
        <div class="col-6">
            <img class="img-fluid" src="/assets/img/venues/{{ site.data.conf.venue.image }}" alt="{{ site.data.conf.venue.name }}">
        </div>
        {% endif %}

        <div class="col-6">
            <p>
                {{site.data.conf.venue.street}}<br>
                {{site.data.conf.city-state}} {{site.data.conf.venue.postal-code}}<br>
                {% if site.data.conf.venue.phone != nil %}
                    <a href="tel:{{site.data.conf.venue.phone}}">{{site.data.conf.venue.phone}}</a> |
                {% endif %}
                {% if site.data.conf.venue.website %}
                    <a href="{{site.data.conf.venue.website}}">Website</a>
                {% endif %}
                {% if site.data.conf.venue.floorplan != nil %}
                 | <a href="{{site.data.conf.venue.floorplan}}">Floor Plan</a>
                {% endif %}
            </p>
            <p>
                <strong><a href="{{site.data.conf.venue.directions}}">Getting to {{site.data.conf.venue.name}}</a></strong>
            </p>
        </div>
    </div>

    <div class="col-12">
        <h3>Lodging</h3>
        <p>We propose a list of hotels where the participant can book a room.</p>
    </div>
    <div class="col-12">
        <h3>Transportation and Access</h3>
        <p>
            For information regarding local public transport options, driving directions, and parking availability, please consult the The Box LuxExpo <a href="https://thebox.lu/acces/?section=">access page</a>.
        </p>
    </div>
</section>
