---
layout: default
title: Sponsorship Prospectus
published: true
---

<section id="prospectus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Cyber and Threat Intelligence Summit 2022 - CTIS {{site.data.conf.year}} Sponsor Prospectus</h1>
                <p>
                    <img src="{{ site.baseurl }}/assets/img/theme-images/ti-stack.jpg" title="Threat Intelligence paper stack" alt="CTIS TI stack" width="100%">
                </p>
                <p>
                  The CTIS {{site.data.conf.year}} Conference, scheduled for {{site.data.conf.days[0].date-data | date: "%B %-d"}} - {{site.data.conf.days.last.date-data | date: "%-d"}}{% if site.data.conf.online-only-conference == false %} in {{site.data.conf.location}}{% endif %}, presents an opportunity for vendors, organisations, government, and projects to show their support for open and collaborative cyber threat intelligence by providing financial support and attending the conference.
                </p>

                <h2>History and Who We Are</h2>
                <p>
                The conference started as the MISP summit which was held before the hack.lu conference for the past 6 years. The organising team is composed the core team members of the <a href="https://www.misp-project.org/">MISP project</a>, <a href="https://www.circl.lu/">CIRCL</a> and <a href="https://www.threat-intelligence.eu/">threat-intelligence.eu</a>. The team decided to create Cyber and Threat Intelligence Summit (CTIS-2022) as a stand-alone conference as the event was growing each year.
                </p>

                <h2>About the Conference</h2>
                <p>
Cyber and Threat Intelligence Summit 2022 (CTIS) is a 2-day summit gathering all the experts, analysts, users and contributors to cyber and threat intelligence at large. CTIS includes the original MISP summit along with all other practices around threat intelligence. A strong focus will be given on projects bridging intelligence communities together and also open source related project. The conference will be a main track of talks composed of one day for intelligence (models, processes, methodologies, defense and sharing practices…) and one day for tooling (threat intelligence platform such as MISP, interconnecting tools and processes, producing actionable intelligence… ).
                </p>

                <p>
                  The conference welcomes everyone from the private sector, governmental and intelligence community at large. The conference is located in Kirchberg, Luxembourg.
                </p>

                <h2>Impact of Support</h2>
                <p>
                  CTIS offers a unique opportunity to reach users, organisations and teams working on threat intelligence challenges. Through sponsoring the conference, you help the members of the threat intelligence community to work together, exchange idea, improve capabilities and improve the field. 
                </p>

                <p>
                  Your sponsorship of the conference can also provide immediate, concrete benefits to you and your organization.
                </p>

                <p>If you want to sponsor, you can pick one of the sponsoring level below and send an email to <a href="mailto:info@circl.lu">info@circl.lu</a></p>
            </div>
        </div>
    </div>
</section>

<section class="prospectus-padder">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Sponsorship Opportunities</h2>
                <h3>General sponsorship levels</h3>
            </div>
        </div>

        <!-- 1st row: platinum & gold -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <svg alt="trophy badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#trophy-badge"></use>
                    </svg>
                    <h4>Platinum</h4>
                    <p><strong>EUR 8000</strong></p>
                    <ul>
                      <li>Acknowledgement during opening and closing sessions</li>
                      <li>Large logo on conference website as Platinum Sponsor</li>
                      <li>Exhibitor Table</li>
                      <li>Virtual Promotion to conference attendees (electronic brochure)</li>
                      <li>4 free conference registrations</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <svg alt="gold badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge gold" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#medal-badge"></use>
                    </svg>
                    <h4>Gold</h4>
                    <p><strong>EUR 5000</strong></p>
                    <ul>
                      <li>Acknowledgement during opening and closing sessions</li>
                      <li>Medium logo on the conference website as Gold Sponsor</li>
                      <li>Exhibitor Table</li>
                      <li>Virtual Promotion to conference attendees (electronic brochure)</li>
                      <li>2 free conference registration</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 2nd row: silver, bronze -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <div class="thumbnail">
                    <svg alt="silver badge" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use class="sponsor-badge silver" xlink:href="{{ site.baseurl }}/assets/img/badges/badges.svg#medal-badge"></use>
                    </svg>
                    <h4>Silver</h4>
                    <p><strong>EUR 3000</strong></p>
                    <ul>
                      <li>Small logo on the conference website as Silver Sponsor</li>
                      <li>Virtual Promotion to conference attendees (electronic brochure)</li>
                      <li>1 free conference registration</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</section>

{% if site.data.conf.sponsor-contact-email != nil %}
<!-- this floats in a tab along the side of the page -->
<div id="contact">
    <p class="contact-tab">CONTACT</p>
    <div class="thumbnail" id="contact_inner">
        <h2>Sponsor Contact</h2>
        <p>
            If you would like to pledge your support at any level, or have questions about sponsorship, feel free to email <a href="mailto:{{site.data.conf.sponsor-contact-email}}"> {{site.data.conf.sponsor-contact-email}}</a>.
        </p>
    </div>
</div>
{% endif %}
